table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr {
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #227727;
}

.pagination button.active {
  background-color: #3c8b41;
}

.pagination button.active:hover {
  background-color: #227727;
}

.btn-click {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-click:hover {
  background-color: #227727;
}
